doctype html 
html 
    head 
        title= 'Create new customer'

    body 
        h3 Create New Customer 
            form(method='POST')
                div 
                    |Input Name: 
                    input(value='Nhap ten', name='name')
                div 
                    |Input email: 
                    input(value='Nhap email',name='email')
                div 
                    |Input email: 
                    input(value='Nhap phone',name='phone')
                    input(type='submit')
        
    